header{
    background:#a9ffd4;
    padding:20px;
}

.header-box{
    width:50%;
    margin:0 auto;
    position:relative;
}
.font_test{
    color:#6495ed;
}

.interests{
    width:50px;
    margin:50px;
    padding:50px;
}

.interests li{
    border-color:#7fffd4;
    border-width: 90px;
    border-style: inset;
    border-radius: 100px;
}

.interests li:hover{
    border-color:#008080;
}

.a{text-decoration: none;}